<div class="container w-50 ">
  <div class="retourLink mb-3">
    <a routerLink="/login">
      <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 26 26" fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M15 18l-6-6 6-6"/></svg>
      <span><strong>Retour à la page d'accueil</strong></span></a>
  </div>

  <div class="descForm pt-3 pb-3 border rounded-3 shadow p-3 mb-5">
    <div class="description">
      <img src="assets/img/istockphoto-600090774-612x612.jpg" height="100" width="100">
      <p class="mt-3"><strong>Définissez votre nouveau mot de passe</strong></p>
    </div>
    <div class="formulaire">
      <form [formGroup]="userFormGroup" (ngSubmit)="modifierMdp()">

        <p><strong>{{email}}</strong></p>

        <input type="password" class="form-control w-50 mx-auto mb-3 " placeholder="Mot de Passe "  formControlName="password">
        <div *ngIf="userFormGroup.controls['password'].invalid && (userFormGroup.controls['password'].dirty || userFormGroup.controls['password'].touched)" >
          <div *ngIf="userFormGroup.controls['password'].errors?.['pattern']">
            <div class="alert alert-danger d-flex w-50 mx-auto" role="alert">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#f31919" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="12" cy="12" r="10"></circle><line x1="12" y1="8" x2="12" y2="12"></line><line x1="12" y1="16" x2="12.01" y2="16"></line></svg>
              <div class="ms-3">
                Mot de passe non conforme.
              </div>
            </div>
          </div>
        </div>


        <input  type="password" class="form-control w-50 mx-auto  mb-3" placeholder="Confirmer Mot de Passe"  formControlName="password_conf">
        <div *ngIf="userFormGroup.controls['password_conf'].dirty || userFormGroup.controls['password_conf'].touched" >
          <div *ngIf="userFormGroup.value.password != userFormGroup.value.password_conf">
            <div class="alert alert-danger d-flex w-50 mx-auto" role="alert">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#f31919" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="12" cy="12" r="10"></circle><line x1="12" y1="8" x2="12" y2="12"></line><line x1="12" y1="16" x2="12.01" y2="16"></line></svg>
              <div class="ms-3">
                Probleme MDP Saisie
              </div>
            </div>
          </div>

          <div *ngIf="userFormGroup.value.password == userFormGroup.value.password_conf">
            <div class="alert alert-success d-flex w-50 mx-auto" role="alert">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#115738" strokeWidth="2" strokeLinecap="round" strokeLinejoin="round"><polyline points="20 6 9 17 4 12"></polyline></svg>              <div class="ms-3">
                Parfait
              </div>
            </div>
          </div>
        </div>


        <button  class="btn btn-primary w-50 mt-3" [disabled]="!userFormGroup.valid" type="submit">Définir un nouveau mot de passe</button>


      </form>
    </div>



</div>

