<mat-sidenav-container >


  <mat-sidenav #sidenav class="sidenav" mode="side" opened>
    <div class="nav-item">
      <mat-icon>home</mat-icon>
      <a routerLink="/revendeur" routerLinkActive="active-link">Home</a>
    </div>
    <div class="nav-item">
      <mat-icon>list</mat-icon>
      <a routerLink="/revendeur/produits" routerLinkActive="active-link">Tous les produits</a>
    </div>
    <div class="nav-item">
      <mat-icon>star</mat-icon>
      <a routerLink="/revendeur/mes-produits" routerLinkActive="active-link">Mes produits</a>
    </div>
    <div class="nav-item">
      <mat-icon>add</mat-icon>
      <a routerLink="/revendeur/ajouter-produit" routerLinkActive="active-link">Ajouter un produit</a>
    </div>
    <div class="nav-item">
      <mat-icon>account_circle</mat-icon>
      <a routerLink="/revendeur/compte" routerLinkActive="active-link">Mon compte</a>
    </div>
    <div class="nav-item">
      <mat-icon>exit_to_app</mat-icon>
      <a  (click)="disconnect()" routerLinkActive="active-link">Se déconnecter</a>
    </div>

  </mat-sidenav>


  <mat-sidenav-content>
    <button mat-icon-button class="toggle-button" (click)="sidenav.toggle()">
      <mat-icon>{{sidenav.opened ? 'close' : 'menu'}}</mat-icon>
    </button>

    <div class="header">
      <h1 style="text-align: center">Ajouter un nouveau produit</h1>
    </div>

    <div class="add-produit-container" >
      <form [formGroup]="addProduitForm" (ngSubmit)="onSubmit()">
      <div>
        <mat-form-field>
          <input matInput placeholder="Nom du produit" formControlName="nom">
        </mat-form-field>
      </div>

      <div>
      <mat-form-field>
        <textarea matInput placeholder="Description du produit" formControlName="description"></textarea>
      </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          Genre
          <mat-select formControlName="genre" multiple>
            <mat-option *ngFor="let genre of genres" [value]="genre">
              {{ genre }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          Plateforme
          <mat-select formControlName="plateform" multiple>
            <mat-option *ngFor="let platform of platforms" [value]="platform">
              {{ platform }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
<!-- TODO : Add image upload !-->


        <div class="button-container">
          <button mat-raised-button color="primary" type="submit">Ajouter</button>
        </div>
      </form>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>




