

input:placeholder-shown {
    font-style: italic;
    color: #ABABAB;
}

button, button:hover {
    background-color: #C7C7C7;
    color: white;
    font-weight: bold;
}

.game-image {
  width: 100%; /* Ajustez la largeur selon vos besoins */
  height: auto; /* Permet à l'image de conserver ses proportions d'origine */
  margin-bottom: 10px; /* Ajoute un espace entre l'image et le texte */
}


#mini-container1 {
    display: flex;
}

.search {
  position: relative;
  box-shadow: 0 0 40px rgba(51, 51, 51, .1);
}

.search input {
  height: 60px;
  text-indent: 25px;
  border: 2px solid lightgray;
}

.search input:focus {
  box-shadow: none;
  border: 2px solid darkblue;
}

.search button {
  position: absolute;
  top: 5px;
  right: 5px;
  height: 50px;
  width: 110px;
  background: darkgray;
  border: lightgray 1px;
}

