  <form class="from-inline" [formGroup]="searchFormGroup" (ngSubmit)="handleSearchProducts()">
    <div class="search">
      <input class="form-control"  formControlName="keyword" type="text" class="form-control rounded-0" placeholder="Chercher un jeu vidéo ...">
      <button class="btn btn-primary" type="submit"><mat-icon class="pt-1">search</mat-icon></button>
    </div>

  </form>



<div  *ngIf="games != null" id="container2" class="input-group mb-3 w-50">
  <div *ngFor="let game of games" id="mini-container" class="card" style="width: 10rem;">
      <div  class="card-body">
        <p style="text-transform: uppercase;" >{{game.nom}}</p>
        <a (click)="goToProductSheet(game)" class="btn btn-primary">VOIR PLUS</a>
      </div>
  </div>
</div>

