input.form-control {
  width: 35dvw;
}

input:placeholder-shown {
    font-style: italic;
    color: lightgray;
}

input, button {
  border-radius: 0;
}

button {
    background-color: lightgray;
    font-weight: bold;
}

button:hover {
  background-color: #64d6f4;
}

button, i {
  color: white;
}




