<form class="form-inline" (ngSubmit)="searchGames(term())">
  <div class="search">
    <input (input)="gererRechercheInput($event)" [value]="term()" type="text" class="form-control"
           placeholder="Rechercher"
           [ngClass]="{ 'games-list': checkGameNotEmpty() }">
    <button type="submit">
      <mat-icon>search</mat-icon>
    </button>
  </div>
</form>
<div *ngIf="checkGameNotEmpty()" class="result">
  <mat-list>
    <mat-list-item *ngFor="let game of this.games">
      <p (click)="redirectToGameSheet(game.id)">{{ game.name }}</p>
    </mat-list-item>
  </mat-list>
</div>
