<div class="container" >
  <div class="pt-3 text-center text-white">
    <h2>Inscription</h2>
  </div>
    <mat-card class="inscription-card">

      <div>
        <form id="inscription-form" [formGroup]="inscriptionForm" (ngSubmit)="handleInscription()">

          <div class="row px-3 pt-3" style="width: auto; text-align: center">
            <mat-form-field appearance="outline">
              <mat-select [formControl]="roleControl">
                <mat-option value="acheteur">Acheteur</mat-option>
                <mat-option value="vendeur">Vendeur</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="row">
            <div class="col">
              <mat-form-field appearance="outline">
                <input matInput placeholder="Nom" formControlName="nom" required>
                <mat-error *ngIf="inscriptionForm.controls['nom'].invalid">Champ requis</mat-error>
              </mat-form-field>
            </div>

            <div class="col">
              <mat-form-field appearance="outline">
                <input matInput placeholder="Prenom" formControlName="prenom" required>
                <mat-error *ngIf="inscriptionForm.controls['prenom'].invalid">Champ requis</mat-error>
              </mat-form-field>
            </div>

          </div>

          <div>
            <mat-form-field appearance="outline" style="width: 93.5%">
              <input matInput placeholder="Email" formControlName="email" required>
              <mat-error *ngIf="inscriptionForm.controls['email'].invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
          </div>

          <div class="col">
            <mat-form-field appearance="outline" style="width: 93.5%">
              <input matInput type="password" placeholder="Password" formControlName="pwd" required>
              <mat-error *ngIf="inscriptionForm.controls['pwd'].invalid">Mot de passe invalide</mat-error>
            </mat-form-field>
          </div>

          <div class="row">
            <div class="col">
              <mat-form-field appearance="outline">
                <input matInput type="number" placeholder="N° rue" formControlName="numRue" required>
                <mat-error *ngIf="inscriptionForm.controls['numRue'].invalid">Champ requis</mat-error>
              </mat-form-field>
            </div>

            <div class="col">
              <mat-form-field appearance="outline">
                <input matInput placeholder="Rue" formControlName="rue" required>
                <mat-error *ngIf="inscriptionForm.controls['rue'].invalid">Champ requis</mat-error>
              </mat-form-field>
            </div>

            <div class="col">
              <mat-form-field appearance="outline">
                <input matInput placeholder="Ville" formControlName="ville" required>
                <mat-error *ngIf="inscriptionForm.controls['ville'].invalid">Champ requis</mat-error>
              </mat-form-field>
            </div>

            <div class="col">
              <mat-form-field appearance="outline">
                <input matInput type="number" placeholder="Code postal" formControlName="codePostal" required>
                <mat-error *ngIf="inscriptionForm.controls['codePostal'].invalid">Champ requis</mat-error>
              </mat-form-field>
            </div>
          </div>


          <div *ngIf="getSirenValue()">
            <mat-form-field appearance="outline" style="width: 93.5%">
              <input matInput placeholder="Siren" formControlName="siren" required>
              <mat-error *ngIf="inscriptionForm.controls['siren'].invalid">Siren invalide</mat-error>
            </mat-form-field>
          </div>
          <button mat-stroked-button type="submit" color="primary">S'inscrire</button>

        </form>
      </div>
    </mat-card>

</div>
