@import "scss/breakpoints";

.register {
  display: flex;
  flex-direction: row;
  height: 100vh;

  @include respond-to-max("m") {
    flex-direction: column;
    align-items: center;
  }
}

.form {
  float: left;
  width: 50vw;
  justify-content: center;
  margin-bottom: 1rem;
  text-align: center;

  @include respond-to-max("m") {
    width: 100vw;
  }
}

.label {
  color: #0B2384;
}

.main-media {
  display: none;

    @include respond-to-min("m") {
      float: none;
      overflow: hidden;
      display: block;
      border-radius: 10px 0 0 10px; //Header height
      object-fit: cover;
      position: sticky;
      width: 50%;
    }

}
