<div class="register">
    <div class="form">
      <div class="pt-3 text-center">
        <h2>REJOIGNEZ GAMELIFE</h2>
      </div>
      <mat-card class="inscription-card pb-3">

        <div>
          <form id="inscription-form" [formGroup]="inscriptionForm" (ngSubmit)="handleInscription()">

            <div class="row px-xl-4" style="width: auto">
              <mat-form-field appearance="outline">
                <mat-label class="label">Vous êtes</mat-label>
                <mat-select [formControl]="roleControl">
                  <mat-option value="ROLE_ACHETEUR">Acheteur</mat-option>
                  <mat-option value="ROLE_REVENDEUR">Revendeur</mat-option>
                </mat-select>
              </mat-form-field>
            </div>

              <div class="col">
                <mat-form-field appearance="outline" style="width: 93.5%">
                  <mat-label class="label">Entrez votre nom</mat-label>
                  <input matInput placeholder="Nom" formControlName="nom" required>
                  <mat-error *ngIf="inscriptionForm.controls['nom'].invalid">Champ requis</mat-error>
                </mat-form-field>
              </div>

              <div class="col">
                <mat-form-field appearance="outline" style="width: 93.5%">
                  <mat-label class="label">Entrez votre prénom</mat-label>
                  <input matInput placeholder="Prenom" formControlName="prenom" required>
                  <mat-error *ngIf="inscriptionForm.controls['prenom'].invalid">Champ requis</mat-error>
                </mat-form-field>
            </div>

            <div>
              <mat-form-field appearance="outline" style="width: 93.5%">
                <mat-label class="label">Entrez votre email</mat-label>
                <input matInput placeholder="Email" formControlName="email" required>
                <mat-error *ngIf="inscriptionForm.controls['email'].invalid">{{getErrorMessage()}}</mat-error>
              </mat-form-field>
            </div>

            <div class="col">
              <mat-form-field appearance="outline" style="width: 93.5%">
                <mat-label class="label">Entrez votre mot de passe</mat-label>
                <input matInput type="password" placeholder="Mot de passe" formControlName="pwd" required>
                <mat-hint>Doit contenir au moins : 1 majuscule, 1 chiffre, 8 caractères</mat-hint>
                <mat-error *ngIf="inscriptionForm.controls['pwd'].invalid">Mot de passe invalide</mat-error>
              </mat-form-field>
            </div>

            <div class="col">
              <mat-form-field appearance="outline" style="width: 93.5%">
                <mat-label class="label">Validez votre mot de passe</mat-label>
                <input matInput type="password" placeholder="Validez le mot de passe" formControlName="pwdVal" required>
                <mat-error *ngIf="inscriptionForm.controls['pwdVal'].invalid">Mot de passe différent</mat-error>
              </mat-form-field>
            </div>

              <div class="col">
                <mat-form-field appearance="outline" style="width: 93.5%">
                  <mat-label class="label">Entrez votre n° de rue</mat-label>
                  <input matInput type="number" placeholder="N° rue" formControlName="numRue" required>
                  <mat-error *ngIf="inscriptionForm.controls['numRue'].invalid">Champ requis</mat-error>
                </mat-form-field>
              </div>

              <div class="col">
                <mat-form-field appearance="outline" style="width: 93.5%">
                  <mat-label class="label">Entrez votre rue</mat-label>
                  <input matInput placeholder="Rue" formControlName="rue" required>
                  <mat-error *ngIf="inscriptionForm.controls['rue'].invalid">Champ requis</mat-error>
                </mat-form-field>
              </div>

              <div class="col">
                <mat-form-field appearance="outline" style="width: 93.5%">
                  <mat-label class="label">Entrez votre ville</mat-label>
                  <input matInput placeholder="Ville" formControlName="ville" required>
                  <mat-error *ngIf="inscriptionForm.controls['ville'].invalid">Champ requis</mat-error>
                </mat-form-field>
              </div>

              <div class="col">
                <mat-form-field appearance="outline" style="width: 93.5%">
                  <mat-label class="label">Entrez votre code postal</mat-label>
                  <input matInput type="number" placeholder="Code postal" formControlName="codePostal" required>
                  <mat-error *ngIf="inscriptionForm.controls['codePostal'].invalid">Champ requis</mat-error>
                </mat-form-field>
              </div>


            <div *ngIf="getSirenValue()">
              <mat-form-field appearance="outline" style="width: 93.5%">
                <mat-label class="label">Entrez votre siren</mat-label>
                <input matInput placeholder="Siren" formControlName="siren" required>
                <mat-error *ngIf="inscriptionForm.controls['siren'].invalid">Siren invalide</mat-error>
              </mat-form-field>
            </div>
            <button mat-stroked-button type="submit" [disabled]="!inscriptionForm.valid" color="primary">S'inscrire</button>

          </form>
        </div>
      </mat-card>
    </div>
  <img class="main-media" src="assets/img/elden_ring.jpg" alt="Elden ring image">
  <!--<button (click)="checkSiret()" mat-stroked-button type="submit" color="primary">Siret </button>-->
</div>

