<div class="container w-50 " *ngIf="page==0">

  <div class="retourLink mb-3">
    <a routerLink="/login">
      <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 26 26" fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M15 18l-6-6 6-6"/></svg>
      <span><strong>Retour à la page d'accueil</strong></span></a>
  </div>

  <div class="descForm pt-3 pb-3 border rounded-3 shadow p-3 mb-5">

    <div class="description">
      <img src="assets/img/istockphoto-600090774-612x612.jpg" height="100" width="100">
      <p class="mt-3"><strong>Avez-vous oublié votre mot de passe ?</strong></p>
      <p>Veuillez saisir l'e-mail associée à votre compte GameLife.</p>
    </div>

    <div class="formulaire">
      <form [formGroup]="userFormGroup" (ngSubmit)="checkEmail()">
        <input type="email" class="form-control w-50 mx-auto " placeholder="Email :"  formControlName="email">

        <button class="btn btn-primary w-50 mt-3" [disabled]="!userFormGroup.valid" type="submit">Continuer</button>

      </form>
    </div>

  </div>
</div>

<div *ngIf="page == 1"  class="container w-50 ">
  <div class="retourLink mb-3">
    <a routerLink="/login">
      <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 26 26" fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M15 18l-6-6 6-6"/></svg>
      <span><strong>Retour à la page d'accueil</strong></span></a>
  </div>

  <div class="descForm pt-3 pb-3 border rounded-3 shadow p-3 mb-5">

    <div class="description">
      <img src="assets/img/istockphoto-600090774-612x612.jpg" height="100" width="100">
      <p class="mt-3"><strong>Le lien de réinitialisation du mot de passe</strong> </p>
      <p><strong>a été envoyé à</strong></p>
      <p><strong>{{userFormGroup.value.email}}</strong></p>
      <p>Vérifiez votre boîte de réception et cliquez sur le lien pour</p>
      <p>envoyer un nouveau mot de passe.</p>
      <p>Vous n'avez pas reçu l'e-mail ?</p>
      <p>Vérifiez à nouveau votre boîte de réception dans 10 minutes.</p>
      <p>Il peut aussi se trouver dans votre dossier de courrier indésirable.</p>
      <p>Assurez-vous également d'avoir saisi une adresse électronique correcte.</p>
    </div>

  </div>
</div>
