<div class="container-fluid">
  <div class="row">
    <div class="col-lg-3 col-md-2"></div>

    <div class="col-lg-6 col-md-8 login-box">

      <div class="login-key">
        <i class="fa fa-key" aria-hidden="true"></i>
      </div>

      <div class="col-lg-12 login-title">
        ADMIN PANEL
      </div>


      <div class="col-lg-12 login-form">
        <form [formGroup]="adminFormGroup" (ngSubmit)="handleLogin()">

          <div class="form-group">
            <label class="form-control-label">EMAIL</label>
            <input type="email" formControlName="email" class="form-control">

            <div *ngIf="adminFormGroup.controls['email'].invalid && (adminFormGroup.controls['email'].dirty || adminFormGroup.controls['email'].touched)" class="alert alert-danger">
              <div *ngIf="adminFormGroup.controls['email'].errors?.['email']">
                Email non valide
              </div>

              <div *ngIf="adminFormGroup.controls['email'].errors?.['required']">
                Email is required.
              </div>

            </div>
          </div>

          <div class="form-group">
            <label class="form-control-label">PASSWORD</label>
            <input type="password"  formControlName="password" class="form-control">
          </div>


            <div class="col-lg-12 login-button">
              <button type="submit" class="btn btn-outline-primary log">LOGIN</button>
            </div>

        </form>
      </div>

    </div>
  </div>
</div>




