<div class="container">
    <div>
        <div>Gestion du compte</div>
        <div style="display: table-row;">
            <form [formGroup]="userFormGroup" (ngSubmit)="handleUpdateUser()">
              <label>Nom</label>
              <div>
                <mat-form-field appearance="fill">
                  <input matInput placeholder="Nom" formControlName="nom" required>
                </mat-form-field>
              </div>
              <label>Prenom</label>
              <div>
                <mat-form-field appearance="fill">
                  <input matInput placeholder="Prenom" formControlName="prenom" required>
                </mat-form-field>
              </div>
              <label>Email</label>
              <div>
                <mat-form-field appearance="fill">
                  <input matInput placeholder="Email" formControlName="email" required>
                </mat-form-field>
              </div>
                <label>Adresse  </label>
              <div style="display: table-row">
                <div>
                  <mat-form-field appearance="fill">
                    <input matInput placeholder="numéros de ma rue" formControlName="numRue" required>
                  </mat-form-field>
                </div>
                <div>
                  <mat-form-field appearance="fill">
                    <input matInput placeholder="nom de ma rue" formControlName="rue" required>
                  </mat-form-field>
                </div>
                <div>
                  <mat-form-field appearance="fill">
                    <input matInput placeholder="nom de ma ville" formControlName="ville" required>
                  </mat-form-field>
                </div>
                <div>
                  <mat-form-field appearance="fill">
                    <input matInput placeholder="Code postal" formControlName="codePostal" required>
                  </mat-form-field>
                </div>
                <div *ngIf="estRevendeurModel">
                    <label>Numéros de Siren  </label>
                    <input type="text" formControlName="numSiren">
                </div>
              </div>
                <br><button type="submit">Confirmer</button>
            </form>
            <br>

            <button (click)="showHide = true" type="submit">modifier mot de passe ?</button>
            <form [formGroup]="mdpFormGroup" (ngSubmit)="handleUpdatePassword()" *ngIf="showHide">
                <label>Mot de passe : </label><br>
                <input type="password" formControlName="oldPwd" placeholder="Mot de passe actuel">
                <input type="password" formControlName="newPwd1" placeholder="Nouveau mot de passe">
                <input type="password" formControlName="newPwd2" placeholder="Confirmenr mot de passe">
                <br><button type="submit">Confirmer</button>
            </form>
            <form [formGroup]="etatFormGroup" (ngSubmit)="handleUpdateEtat()">
                <button type="submit">Supprimer mon compte</button>
            </form>
        </div>
    </div>
</div>
