<!-- <div id="container">
    <h4>Copyright ©2022 All rights reserved</h4>
</div> -->


  <footer class="footer">
    <!-- <ul class="social-icon">
      <li class="social-icon__item"><a class="social-icon__link" href="#">
          <ion-icon name="logo-facebook"></ion-icon>
        </a></li>
      <li class="social-icon__item"><a class="social-icon__link" href="#">
          <ion-icon name="logo-twitter"></ion-icon>
        </a></li>
      <li class="social-icon__item"><a class="social-icon__link" href="#">
          <ion-icon name="logo-linkedin"></ion-icon>
        </a></li>
      <li class="social-icon__item"><a class="social-icon__link" href="#">
          <ion-icon name="logo-instagram"></ion-icon>
        </a></li>
    </ul> -->
    <ul class="menu">
      <li class="menu__item"><a class="menu__link" href="#">Acceuil</a></li>
      <li class="menu__item"><a class="menu__link" href="#">Inscription</a></li>
      <li class="menu__item"><a class="menu__link" href="#">Connection</a></li>
      <li class="menu__item"><a class="menu__link" href="#">Equipe</a></li>
      <li class="menu__item"><a class="menu__link" href="#">Contact</a></li>

    </ul>
    <p>&copy;2023 Gamelife | All Rights Reserved</p>
  </footer>
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>



