<div class="footer-part">
    <div class="card text-center custom-card">
        <div class="card-header">
            <i class="bi bi-instagram"></i>
            <i class="bi bi-whatsapp"></i> 
            <i class="bi bi-facebook"></i>
            <i class="bi bi-twitter-x"></i>
        </div>
    
    <div class="card-body">
      <h5 class="card-title">Contactez nous</h5>
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    </div>
    <div class="card-footer text-body-secondary">
        Copyright © 2024 Gamelife FRANCE Inc.    
    </div>
  </div>
</div>