<main class="container">
  <div class="cards-container">
    <div *ngFor="let game of this.games().content | paginate: { itemsPerPage: this.size, currentPage: this.page() + 1, totalItems: this.games().totalElements };">
      <mat-card class="card">
        <img class="card-image" [src]="game.images[0]" alt="{{ game.name }}">
        <div class="card-content">
          <h3 class="card-title">{{ game.name }}</h3>
          <button mat-button class="card-button button-active" (click)="redirectToGameSheet(game.id)">Acheter</button>
        </div>
      </mat-card>
    </div>
  </div>
  @if (this.games().totalElements >= 20)  {
    <div class="pagination-container">
      <pagination-controls (pageChange)="getPage($event)"></pagination-controls>
    </div>
  }
</main>

