.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 100%;
  background-color: #e8e8e8;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2em 0;
  gap: 2em;
  width: 100%;
  container-type: inline-size;
  flex-grow: 1;
}

.pagination-container {
  display: flex;
  justify-content: center;
  padding: 1%;
}

.card {
  display: flex;
  flex-direction: column;
  width: 16vw;
  height: 32vh;
}

.card-image {
  height: 50%;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}

img {
  max-width: 100%;
  object-fit: cover;
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50%;
}

.card-title {
  font-family: Poppins, "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-size: 1em;
}

.card-button {
  background-color: #FFCA0A;
  width: 50%;
}
