#container, #cards, #card-content {
  display: flex;
}

#container {
  min-height: 100vh;
  width: 100%;
  background-color: #1633a4;
}

#cards {
  padding-top: 2em;
  padding-bottom: 2em;
}

#cards {
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 2em;
  column-gap: 2em;
  justify-content: center;
  width: 100%;
}

#card {
  width: 16vw;
  height: 32vh;
}

#image {
  height: 50%;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}

#button-card {
  background-color: #FFCA0A;
  width: 50%;
}

#card-content {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50%;
}

h3 {
  font-family: Poppins, "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-size: 1em;
}
