<div id="conteneur">
  <div id="cards">
    <div *ngFor="let produit of this.produits().content | paginate: { itemsPerPage: this.produitsParPage, currentPage: this.page() + 1, totalItems:  this.produits().totalElements };">
      <mat-card id="card">
        <img id="image" [src]="produit.images[0].url" alt="{{ produit.nom }}">
        <div id="card-contenu">
          <h3 id="titre">{{ produit.nom }}</h3>
          <button mat-button id="button-card" class="button-active" (click)="redirigerVersFicheProduit(produit.idProduit)">Acheter</button>
        </div>
      </mat-card>
    </div>
    <pagination-controls (pageChange)="recupererPage($event)"></pagination-controls>
  </div>
</div>
