<div id="container">
  <div id="cards">
    <div *ngFor="let game of this.games().content | paginate: { itemsPerPage: this.size, currentPage: this.page() + 1, totalItems:  this.games().totalElements };">
      <mat-card id="card">
        <img id="image" [src]="game.images[0]" alt="{{ game.name }}">
        <div id="card-content">
          <h3 id="title">{{ game.name }}</h3>
          <button mat-button id="button-card" class="button-active" (click)="redirectToGameSheet(game.id)">Acheter</button>
        </div>
      </mat-card>
    </div>
    <pagination-controls (pageChange)="getPage($event)"></pagination-controls>
  </div>
</div>
