.container{
  text-align: center;
  background-color: darkblue;
  width: 100%;
}
mat-card-header{
  display: block;
  color: white;
}

.login-card {
  margin: auto;
  max-width: 500px;
  text-align: center;
  background-color: darkblue;
  padding: 5px;
}


.mat-form-field {
  padding: 20px;
   display: block;
  position: relative;
}


