<div id="container">
  <div *ngIf="!!token" class="container1">
    <div class="logo pt-3"><a [routerLink]="['/']"><h1>GAMELIFE</h1></a></div>
    <div class="recherche"><app-rechercher-produit></app-rechercher-produit></div>
    <div class="lien"><a [routerLink]="['/gestioncompte']">COMPTE</a></div>
    <div class="lien"><a [routerLink]="['/panier']">PANIER</a></div>
  </div>
  <div *ngIf="!!!token" class="container1">
    <div class="logo pt-3"><a [routerLink]="['/']"><h1>GAMELIFE</h1></a></div>
    <div class="recherche"><app-rechercher-produit></app-rechercher-produit></div>
    <div class="lien"><a [routerLink]="['/inscription']">INSCRIPTION</a></div>
    <div class="lien"><a [routerLink]="['/login']">CONNEXION</a></div>
  </div>
  <div id="container2">
    <div><a [routerLink]="['/']">Catégories</a></div>
    <div><a [routerLink]="['/']">Meilleurs ventes</a></div>
    <div><a [routerLink]="['/']">Clés aléatoires</a></div>
  </div>
</div>
