<header>
  <div class="container-fluid">
    <div class="navb-logo">
      <a [routerLink]="['/']" class="navbar-brand m-0 h1" id="title">GAMELIFE</a>
    </div>
    <app-rechercher-produit></app-rechercher-produit>
    <div class="navb-items d-none d-xl-flex">
      <div class="item-button m-2">
        <a type="button"><i class="bi bi-bag"></i>PANIER</a>
      </div>
      <div class="item-button">
        <a type="button"><i class="bi bi-person"></i>COMPTE</a>
      </div>
    </div>
  </div>
</header>
