#container {
  width: 100%;
}
.container1 {
    background-color: #1633A4;
    height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;

}

#container2 {
    background-color: #0B2384;
    height: 5vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom:  10vh;
    width: 100%;
}

.logo {
    display: flex;
    justify-content: center;
    width: 25vw;
}

.recherche {
    //display: flex;
    //justify-content: center;
    width: 50vw;
}

.lien {
    display: flex;
    justify-content: center;
    width: 12.5vw;
}

h1 {
    color: white;
    letter-spacing: 2.5px;
}

a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}
mat-icon {
  color: white;
}
