#container, #container1, #container2, .container3, #container4 {
  display: flex;
  justify-content: center;
  align-items: center;
}

#container {
  flex-direction: row;
  height: 13vh;
  background-color: #021254;
}

#container1 {
  width: 30%;
}

#container2 {
  width: 30%;
}

#recherche {
  width: 100%;
}

.container3, #container4 {
  width: 20%;
}

h1 {
  font-size: 1.5rem;
  color: #fff;
  font-weight: 500;
  margin: 0;
}

a {
  font-size: 1rem;
  text-decoration: none;
  color: white;
  font-weight: 300;
}

mat-icon {
  color: white;
}

h1, a {
  font-family: Poppins, "Helvetica Neue", sans-serif;
}

.icone {
  color: white;
  padding-right: 12%;
}

#icone-gauche {
  font-size: 1.5em;
}

#icone-droite {
  font-size: 1.8em;
}
