.sidenav a {
  padding: 10px;
  margin-bottom: 10px;
  color: #333;
  text-decoration: none;
}
.sidenav a.active-link {
  font-weight: bold;
  color: #007BFF;
}
.sidenav .nav-item:first-child {
  margin-top: 30px;
}

.toggle-button {
  background-color: #007BFF;
  color: #fff;
  border-radius: 50%;
  padding: 10px;
  transition: background-color 0.3s ease;
}
.toggle-button:hover {
  background-color: #0056b3;
}
.toggle-button mat-icon {
  transition: transform 0.3s ease;
}
.toggle-button mat-icon.open {
  transform: rotate(90deg);
}
.nav-item {
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: start;
}
.nav-item mat-icon {
  margin-right: 10px;
  margin-bottom: 10px;
}


.card-wrapper {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 10vh;
  margin-top: 8vh;

  .product-image {
    height: 20rem;
  }


  .product {
    width: 20rem;
    flex: 0 0 calc(25% - 2rem); // for 4 cards in a row, adjust as needed
    margin: 1rem; // half of the subtraction above
  }
}

mat-card-actions {
  display: flex;
  justify-content: center;
  .modifier{
    background-color: yellow;
    color: black;
  }
   .supprimer{
    background-color: red;
    color: white;
  }
}

