<mat-sidenav-container >

  <mat-sidenav #sidenav class="sidenav" mode="side" opened>
    <div class="nav-item">
      <mat-icon>home</mat-icon>
      <a routerLink="/revendeur" routerLinkActive="active-link">Home</a>
    </div>
    <div class="nav-item">
      <mat-icon>list</mat-icon>
      <a routerLink="/revendeur/produits" routerLinkActive="active-link">Tous les produits</a>
    </div>
    <div class="nav-item">
      <mat-icon>star</mat-icon>
      <a routerLink="/revendeur/mes-produits" routerLinkActive="active-link">Mes produits</a>
    </div>
    <div class="nav-item">
      <mat-icon>add</mat-icon>
      <a routerLink="/revendeur/ajouter-produit" routerLinkActive="active-link">Ajouter un produit</a>
    </div>
    <div class="nav-item">
      <mat-icon>account_circle</mat-icon>
      <a routerLink="/revendeur/compte" routerLinkActive="active-link">Mon compte</a>
    </div>
    <div class="nav-item">
      <mat-icon>exit_to_app</mat-icon>
      <a  (click)="disconnect()" routerLinkActive="active-link">Se déconnecter</a>
    </div>

  </mat-sidenav>


  <mat-sidenav-content>
    <button mat-icon-button class="toggle-button" (click)="sidenav.toggle()">
      <mat-icon>{{sidenav.opened ? 'close' : 'menu'}}</mat-icon>
    </button>

    <div class="header">
      <h1 style="text-align: center">Mes produits</h1>
      <h2 style="text-align: center" > {{nbrProduits}} Produits</h2>
      <div class="search_bar">
        <section>
          <form>
            <input type="text" placeholder="Filter by Name" #filter>
            <button mat-icon-button type="button">
              <mat-icon  style="margin-bottom: -5px">search</mat-icon >
            </button>
          </form>
        </section>
      </div>
    </div>

    <div class="card-container">
      <div *ngFor="let prod of produitsRevendeur | paginate: { itemsPerPage: 15, currentPage: p } ">
        <mat-card>

          <img mat-card-image alt="Photo" src="{{prod.produit.images[0].image}}" >

          <mat-card-header>
            <mat-card-title> {{prod.produit.nom}} </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p class="produit_stock">Stock : {{prod.stock}}</p>
            <p class="produit_prix">Prix : {{prod.prix}}</p>

            <mat-card-actions>
              <button mat-button (click)="modifierProduit(prod.id,prod)" class="modifier"><mat-icon>autorenew</mat-icon></button>
              <button mat-button (click)="supprimerProduit(prod.id)" class="supprimer"><mat-icon>delete</mat-icon></button>
            </mat-card-actions>


          </mat-card-content>
        </mat-card>
      </div>
    </div>
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </mat-sidenav-content>
</mat-sidenav-container>
