<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav class="sidenav" mode="side" opened>

    <a routerLink="/revendeur/produits" routerLinkActive="active-link">Tous les produits</a>


  </mat-sidenav>

  <mat-sidenav-content>

    <div  class="card-wrapper">
      <div *ngFor="let prod of produits ">
        <mat-card   class="product example-card container text-uppercase shadow lg p-3 mb-3 bg-white rounded">

          <img mat-card-image alt="Photo" src="{{prod.images[0].image}}" class="product-image">

          <mat-card-header>
            <mat-card-title> {{prod.nom}} </mat-card-title>
            <mat-card-subtitle>{{prod.plateforme}}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
              <p class="produit_detail">{{prod.detail}}</p>
            <mat-card class="product example-card container text-uppercase shadow lg p-3 mb-3 bg-white rounded">
              <!-- ...existing code... -->
              <mat-card-actions>
                <button mat-button (click)="ajouterProduitAuRevendeur(prod)">Add to Revendeur</button>
              </mat-card-actions>
            </mat-card>
          </mat-card-content>
        </mat-card>
      </div>
    </div>

  </mat-sidenav-content>
</mat-sidenav-container>
